
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form action="login" method="post">
    <table class="table table-bordered">
        <tr>
            <th>Name: </th> <th><input type="text" name="uname" placeholder="username"></th>
        </tr>
        <tr>
            <th>Phone: </th> <th><input type="text" name="phone" placeholder="Mobile number"></th>
        </tr>
        <tr>
            <th>Password: </th> <th><input type="password" name="pass" placeholder="Enter your password"></th>
        </tr>
        <tr>
            <th colspan="2" align="center"><input type="submit" value="Confirm registration" class="btn-group-justified"></th>
        </tr>
    </table>
</form>